--- # Only the main Sass file needs front matter (the dashes are enough) --- @import "minimal-mistakes/skins/dark"; // skin
@import "minimal-mistakes"; // main partials

// Target .site-title and specifically the link inside it
.site-title,
.site-title a {
    font-family: 'Parisienne', cursive !important;
    font-weight: 400; // Parisienne only has 400
}